{% extends 'base.html.twig' %}


{% block title %}Login{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success text-center" role="alert">
    {{ message }}
</div>
{% endfor %}
<div class="container mt-4 text-center"><br>
    <h1>Login</h1><br><br><br><br>
<form action="{{ path('security_login') }}" method="post">
    <div class="form-group">
        <input type="text" placeholder="email" required name="_username" class="form-control">
    </div><br><br>
    <div class="form-group">
        <input type="password" placeholder="Password" required name="_password" class="form-control">
    </div><br><br><br><br>
    <div class="form-group">
        <a href="{{ path('app_forgotten_password') }}">Forgot Password ?</a>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Login !</button>
    </div><br><br><br><br>
</form>
</div>

{% endblock %}
