{% extends 'base.html.twig' %}
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
<h1>Réinitialisation du mot de passe</h1>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
<form method="post">
    <div class="form-group">
        <label for="_username">Username</label>
        <input type="text" placeholder="Your email" required name="_username" class="form-control">
    </div><br><br>
    <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="new password" required>
    <input type="hidden" name="token" value="{{ token }}">
    </div>
    <button type="submit" id="valider">Validate password</button>   
</form>
{% endblock %}