{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
<h1>Bienvenue sur notre site communautaire SnowTricks</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur officiis, deserunt quasi, obcaecati illum architecto itaque sit sequi quaerat eveniet eum praesentium repellendus assumenda ipsa labore minima sapiente voluptatum. Quasi aspernatur, iusto nisi nemo dicta facilis officia ipsa itaque molestias.</p>
{% endblock %}