{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
<header class=" masthead bg-primary slider text-white text-center">
    <div class="container align-items-center ">
        <p class="hook-text">Snowtricks une communauté pour les passionnés de Snowboard</p>
        <div class="scroll-to-top  position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
</header>
{% endblock %}