<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    {% if is_granted('edit', trick) %}
    <button class="py-0 px-2 btn btn-link text-blue"><i class="fas fa-trash-alt"></i></button>
    {% endif %}
</form>
