{% extends 'base.html.twig' %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success text-center" role="alert">
    {{ message }}
</div>
{% endfor %}

<div>
    {% include 'trick/trickslisttricks.html.twig' %}
</div><br><br>
{% if app.user %}
<div class= "d-flex justify-content-center">
<button class="btn btn-secondary">
<a class="text-white nav-link" href="{{ path('trick_new') }}">Create new Trick !</a></button>
</div><br><br><br><br><br>
{% endif %}
{% endblock %}
